@keyframes sparks {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes heart-grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.25);
    }
}
