/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  grid-template-columns: 1fr;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-text-weight);
  background-image: url('../images/background.png'), linear-gradient(180deg, rgba(231,231,231,1) 0%, rgba(26,26,26,1) 100%);
  background-position: fixed;
  overflow-y: auto;
  padding: 100px 0 100px;
  row-gap: 100px;
}

.header {
  font-family: var(--accent-font);
  border: var(--content-border);
  text-transform: uppercase;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 14px;
  gap: 20px;
}

.title {
  font-weight: 400;
  font-size: 49px;
}

.subtitle {
  font-size: 16px;
}

.content {
  display: grid;
  row-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--content-border);
  background-color: #fff;
}

.card__title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-title-weight);
  font-size: 18px;
  padding: 4px 10px 6px;
}

.card__image-wrapper {
  position: relative;
  border-block: var(--content-border);
  aspect-ratio: 1/1;
}

.card__image {
  width: 100%;
  height: 100%;
  object-position: right;
  object-fit: cover;
}

.card__image-label {
  position: absolute;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  font-family: var(--accent-font);
  top: 25px;
  right: 13px;
}

.card__description {
  padding: 27px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__description-text {

}

.button-remember {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 20.5px 15px 19.5px;
  font-family: var(--accent-font);
  border: var(--content-border);
  gap: 8px;
}

.button-remember__icon {
  inline-size: 28px;
  block-size: 28px;
}
