/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 100px 0;
  overflow-y: auto;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  background-image: var(--page-background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-text-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: var(--content-border);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: #fff;
}

.page__section {
  inline-size: var(--section-width);
}

.logo {
  font-weight: var(--main-font-title-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--content-border);
  background-color: #fff;
}

.card__title {
  font-size: 18px;
  line-height: 1;
  font-variation-settings: "wght" var(--main-font-title-weight);
  padding: 7px 10px;
  border-block-end: var(--content-border);
}

.card__image-wrapper {
  position: relative;
  display: flex;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.card__image_filter_blur {
  filter: blur(2px);
}

.card__image_filter_brightness {
  filter: brightness(50%);
}

.card__image_filter_contrast {
  filter: contrast(50%);
}

.card__image_filter_grayscale {
  filter: grayscale(50%);
}

.card__image_filter_invert {
  filter: invert(70%);
}

.card__image_filter_saturate {
  filter: saturate(50%);
}

.card__image_filter_multiple {
  filter: blur(2px) brightness(50%) contrast(150%) grayscale(10%) invert(10%)
    saturate(50%);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__description {
  border-block-start: var(--content-border);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 0;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  align-items: center;
  align-self: end;
  padding-inline-end: 25px;
  padding-block: 26px;
}

.card__icon-button {
  display: flex;
  border: none;
  background: none;
}

.like-icon {
  inline-size: 100%;
}

.card__like-button {
  padding: 10.5px 35px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  background-color: transparent;
}

.footer {
  display: flex;
}

.button-remember {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  border: var(--content-border);
  padding: 21px 16px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}

.button-remember__icon {
    inline-size: 28px;
    block-size: 28px;
}

@media (width <= 375px) {
  .page__section {
    width: 100%;
  }

  .card__image-label {
    right: 13px;
  }
}
