:root {
  --main-font: Inter-Variable;
  --accent-font: PressStart2P-Regular;

  --main-font-title-weight: 700;
  --main-font-text-weight: 400;

  --text-stroke-color: rgba(255, 255, 255, 0.5);
  --content-border: 2px solid #000;
  --page-background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --section-width: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);

  --contour-fill-color: #000;
  --core-fill-color: #ff0000;
}
