/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: Inter-Variable;
  --accent-font: PressStart2P-Regular;

  --main-font-title-weight: 700;
  --main-font-text-weight: 400;

  --content-border: 2px solid #000;
}