/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: Inter-Variable;
  --accent-font: PressStart2P-Regular;

  --main-font-title-weight: 700;
  --main-font-text-weight: 400;

  --text-stroke-color: rgba(255, 255, 255, 0.5);
  --content-border: 2px solid #000;
  --page-background-gradient: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(0deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --section-width: clamp(375px, 100%, 700px);

  /* --header-padding-clamp: clamp(120px, 100%, 128px) clamp(14px, 100%, 120.5px); */
}